*
	box-sizing: border-box
body, html
	height: 100%
	font-family: 'Lato', sans-serif
body
	background: #EEEEEE



.container
	margin-top: 1rem
	max-width: 600px
	min-height: 90%
	margin: auto
	background: #FFFFFF
	box-shadow: 10px 10px 177px -19px rgba(0,0,0,0.75)
	border-radius: 10px

main 
	padding: 2rem

.btn-checker
	float: right
	background: none
	border: none
	cursor: pointer
	&:focus
		outline: none
	i
		color: #CCCCCC
		font-size: 1.2rem
		&.icon-trash-empty
			color: #E71D36
