*
	box-sizing: border-box
body, html
	height: 100%
	font-family: 'Lato', sans-serif
body
	padding:
		top: 3rem
		bottom: 3rem
	margin: 0
	background:
		image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../img/img1.jpg')
		size: cover


sup
	font-size: .6rem
	margin-left: .5rem

main 
	height: 50%
	padding: 2rem

.container
	overflow: hidden
	margin: auto auto
	max-width: 520px
	min-height: 500px
	height: 100%
	background: $white
	box-shadow: 3px 3px 66px rgba(0,0,0,0.90)
	border-radius: 10px

.btn-checker
	float: right
	background: none
	border: none
	cursor: pointer
	&:focus
		outline: none
	i
		pointer-events: none
		color: #CCCCCC
		font-size: 1.2rem
		&.icon-trash-empty
			color: #E71D36

.button
	cursor: pointer
	border: 1px solid $blue--dark
	color: $blue--dark
	background: none
	font-size: 1rem
	padding: .5rem 1rem
	&--confirm
		background-color: $blue--dark
		color: $white
	&--cancel
	&--cross
		font-size: .8rem
		padding: .2rem .4rem

::-webkit-scrollbar
	width: .3em
::-webkit-scrollbar-track
	background-color: $blue
::-webkit-scrollbar-thumb
	background-color: $blue--dark

@media (max-width: 48em) 
	html
		font-size: 13px
	.container
	.heading
		border-radius: 0
	body
		padding: 0


@media (min-height: 42.125em)
	.heading
		height: 330px
	main 
		height: calc(100% - 330px)

// @media (min-height: 36em) and (max-width: 47.5em) 
// 	.heading
// 		max-height: 261px
// 	main 
// 		height: calc(100% - 261px)