*
	box-sizing: border-box
body, html
	height: 100%
	font-family: 'Lato', sans-serif
body
	background:
		image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../img/img1.jpg')
		size: cover


sup
	font-size: .6rem
	margin-left: .5rem

main 
	padding: 2rem


.container
	max-width: 520px
	min-height: 80%
	margin: auto
	margin-top: 4rem
	background: $white
	box-shadow: 3px 3px 66px rgba(0,0,0,0.90)
	border-radius: 10px

.btn-checker
	float: right
	background: none
	border: none
	cursor: pointer
	&:focus
		outline: none
	i
		color: #CCCCCC
		font-size: 1.2rem
		&.icon-trash-empty
			color: #E71D36
