.heading
	border:
		top-left-radius: 10px
		top-right-radius: 10px
	background: $blue
	color: $white
	padding: 2.5rem
	padding-bottom: 0
	&__title
		margin: 0
		display: inline-block
		font:
			size: 1.5rem
			weight: bold
	&__btn
		background-color: $blue--dark
		color: $white
		border: none
			radius: 3px
		padding: .7rem 1rem
		font-size: .8rem
		font-weight: bold
		float: right
	&__input-text
		display: block
		width: 100%
		color: $white
		padding-bottom: .5rem
		margin-top: 3rem
		line-height: 150%
		letter-spacing: 1px
		font:
			size: 1.3rem
			weight: light
		background: none
		border: none
		border-bottom: 2px solid $white
		&:focus
			outline: none
		&::-webkit-input-placeholder
			color: $white
			font:
				weight: 300


.radio-box
	padding: 1.5rem 0
	display: flex
	justify-content: space-between
	&__radio
		cursor: pointer
		&:after
			transition: .3s
			content: ''
			display: block
			width: 20px
			height: 20px
			background: $gray--light
			border-radius: 5px
			transform: translateY(-2px)
		&--checked
			&:after
				background-color: $blue--dark
				border-radius: 50%


